/*
  Layout

  Styles for managing the structural hierarchy of the site.
  Hydeout features the large colored sidebar from Hyde that houses the
  site name, intro, and "footer" content. Sidebar is on top of content on
  mobile and expands into sidebar on larger width displays.

  Sidebar CSS assumes HTML looks like this for post pages:

    body
    > #sidebar
      > header (primary sidebar content -- i.e. title)
        > h1 (home page only, otherwise div or span)
      > secondary nav content we may want to hide on certain pages
    > .container
      > h1 (non-home page)
      > .content

  Basic approach is to color in body, make sidebar background transparent,
  and then fill in the .container or .content elements depending on how far
  we want the sidebar or header to stretch.
*/

body {
  color: rgb(0,0,0);
  background-color: $sidebar-bg-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

#sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: $section-spacing;

  .site-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2.75rem;
    color: rgb(0,0,0);
    vertical-align: baseline;
    margin-top: $heading-spacing;
    margin-bottom: 0.5rem;

    a {
      color: inherit;
      &:hover { color: #C6C6C6 }
      &:active { color: $sidebar-title-color; }
    }

    .back-arrow { margin-right: 0.5rem; }
  }
}

/* HORIZONTAL SCROLLING FLEXBOX GALLERY */

.gallery {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.gallery-content {
  padding-right: 0.4rem;
  padding-left: 0.4rem
}

.gallery-content img {
  height: 100%;
  width: auto;
  max-height: 1000px;
  margin: 0rem;
}

/* seperate gallery for blog posts */

.blog-gallery {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.blog-gallery-content {
  padding-right: 0.4rem;
  padding-left: 0.4rem
}

.blog-gallery-content img {
  height: 100%;
  width: auto;
  max-height: 600px;
  margin: 0rem;
}

/* -----------------------------------------------------------
  VIDEO CSS
----------------------------------------------------------- */

.media {
  /* max-width: 800px; */
  width: 100%;
  display: inline-block;
  &__video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    width: 100%;
    overflow: hidden;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.media-wrap {
  text-align: center;
  background: $body-bg;
  color: $body-color;
  padding: $section-spacing;
  width: 100%;
}


/* -----------------------------------------------------------
      CONTAINER
----------------------------------------------------------- */

// Container is flexbox as well -- we want content div to stretch and fill
.container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  > .content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.content {
  background: $body-bg;
  color: $body-color;
  padding: $section-spacing;
}


/* -----------------------------------------------------------
  Mobile view
----------------------------------------------------------- */

// Hide secondary nav content in sidebar
// Hide lead paragraph in sidebar
#sidebar {
  header ~ *, header ~ nav, p.lead {
    display: none;
  }
}

// Make header elements blend into sidebar / background
.container > header {
  background: transparent;
  color: #000;
  margin: 0
          $section-spacing
          $section-spacing;

  /* removed: ($heading-spacing - $section-spacing) as top margin in container; */

  h1, h2 {
    color: white;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.gallery {
  padding: 0.5rem;
}

.gallery-content img {
  max-height: 500px;
}

/* -----------------------------------------------------------
  Mobile view for home page)
----------------------------------------------------------- */

.home #sidebar {

  // Center sidebar content
  text-align: center;

  // Bigger title
  .site-title {
    font-size: 2.75rem;
    color: $sidebar-title-color;
  }

  // Show secondary nav content + lead
  header ~ *, p.lead {
    display: block;
  }

  header {
    ~ nav {
      display: flex;
    }
  }

  // Slightly more bottom padding to compensate for heading not match 100% of
  // line-height on top
  > *:last-child {
    margin-bottom: 1rem;
  }
}

/* -----------------------------------------------------------
  Tablet / Desktop view
----------------------------------------------------------- */

@media (min-width: $large-breakpoint) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
    overflow: auto;
    > * { max-height: 100vh; overflow: auto; }
  }

  /* Undo mobile CSS */

  /* .gallery {
    padding-left: 1rem;
  } */

  .content {
    margin-left: auto;
    margin-right: auto;
  }

  .gallery-content img {
    max-height: 1000px;
  }

  .media-wrap {
    justify-content: center;
  }

  #sidebar {
    margin-left: 1.25rem;
    height: 100%;
  }

  #sidebar, .home #sidebar {
    width: $sidebar-width;
    text-align: left;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  #sidebar {
    .site-title {

      a { color: $sidebar-title-color; }
      .back-arrow { display: none; }
    }

    p.lead, header ~ * {
      display: block;
    }

    header ~ nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

  .index #sidebar { margin-bottom: 0; }

  // Make entire container background white to contrast against sidebar
  .container {
    background: $body-bg;
    color: $body-color;
    height: 100vh;
    padding-left: $section-spacing;
    padding-right: $section-spacing;
    padding-bottom: $section-spacing;
    padding-top: $section-spacing * 1.5;

    > header {
      color: inherit;
      /* text-decoration: underline; */
      h1, h2 {
        color: inherit;

        &:last-child {
          margin-bottom: $heading-spacing;
        }
      }
    }

    > * {
      max-width: 40rem;
      padding: 0;
    }
  }
}


/* -----------------------------------------------------------
  Sidebar links + nav
----------------------------------------------------------- */


/* USE THIS TO CHANGE THE COLOR OF THE LINKS IN YOUR SIDEBAR */

#sidebar a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #C6C6C6;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: #000;
  }


/* USE THESE TO CHANGE THE COLOR OF YOUR SOCIAL ICON LINKS */
  svg {
    fill: #000;
  }

  &:hover, &:focus, &.active {
    svg { fill: #000; }
  }

  &:hover &:focus {
    color: #000;
    &.icon {
      color: #000;
    }
  }

  &.active {
    color: #000;
  }
}




/*  

a {
  color: $link-color;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: line-through;
    font-weight: bold;
  }

  strong {
    color: inherit;
  }
}

 */

#sidebar nav {
  display: flex;
}

#sidebar-nav-links {
  flex-flow: column nowrap;
}

#sidebar-icon-links {
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2rem;
  /* margin-top: 1rem; */

      /* full screen mode */
  @media (min-width: $large-breakpoint) {
    margin-left: -0.25em;
    justify-content: center;
  }
}

.grow { -webkit-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.grow:hover { -webkit-transform: scale(1.5); -ms-transform: scale(1.5); transform: scale(1.5); }

#sidebar nav > * {
  display: block;
  line-height: 1.75;
}

#sidebar nav > .icon {
  font-size: 1.3rem;
  display: inline-block;
  margin: 0 0.25em;
}


/* -----------------------------------------------------------
  Sticky sidebar

  Set $sidebar-stick variable to affix sidebar contents to the
  bottom of the sidebar in tablets and up.

  IF YOU WANT SIDEBAR CONTENT ON TOP OR BOTTOM (FLEX-START OR FLEX-END)
----------------------------------------------------------- */

@if $sidebar-sticky {
  @media (min-width: $large-breakpoint) {
    body {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
  }
}


/* -----------------------------------------------------------
  Reverse layout

  Flip the orientation of the page by placing the `#sidebar`
  on the right.
----------------------------------------------------------- */

@if $layout-reverse {
  @media (min-width: $large-breakpoint) {
    .container {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
    }
  }
}