$gray-1: #f9f9f9 !default;
$gray-2: #e5e5e5 !default;
$gray-3: #ccc !default;
$gray-4: #767676 !default;
$gray-5: #515151 !default;
$gray-6: #313131 !default;

$red: #F45555 !default;
$orange: #d28445 !default;
$yellow: #FFF23F !default;
$green: #90a959 !default;
$cyan: #75b5aa !default;
$blue: #268bd2 !default;
$brown: #8f5536 !default;

/* FONTS AND FONT SIZES */

$root-font-family: 'Cormorant Garamond', serif !default;

/* ORIGINAL ROOT FONT SIZE WAS 1 REM */
$root-font-size: 1.2rem !default;
$root-line-height: 1.5 !default;

/* COLORS ON WEB PAGE */
/* body-color ORIGINALLY $gray-5 */
$body-color: $gray-6 !default;
$body-muted: $gray-4 !default;
$body-bg: #fff !default;
/* link-color ORIGINALLY $red */
$link-color: #000 !default;
/* heading-color ORIGINALLY $gray-6 */
$heading-color: #000 !default;
$site-title-color: #000 !default;

$border-color: #000 !default;
$border-radius: 300px !default;
$padding-v: 1em !default;
$padding-h: 1.5em !default;

/* ORIGINAL HEADING SPACING WAS 0.5 REM */
$heading-spacing: 0.5rem !default;
/* ORIGINAL SECTION SPACING WAS 1 REM */
$section-spacing: 2rem !default;

/* ORIGINAL SIDEBAR WIDTH WAS 18REM */
$sidebar-width: 17rem !default;
$large-breakpoint: 49rem !default;

/* ORIGINAL LARGE FONT SIZE WAS 1.25REM */
$large-font-size: 1rem !default;
$box-shadow-size: 1px !default;
$box-shadow-opacity: 0.16 !default;
$default-box-shadow: $box-shadow-size
                     $box-shadow-size
                     $box-shadow-size
                     rgba(0, 0, 0, $box-shadow-opacity);

/* CODE FONTS */

$code-font-family: Menlo, Monaco, "Courier New", monospace !default;
$code-color: #bf616a !default;

// Hyde theming
$sidebar-bg-color: #fff !default;
$sidebar-title-color: #000 !default;
$sidebar-sticky: true !default;
$layout-reverse: false !default;
