<!-- Optional additional links to insert for icons links -->
  <a class="icon" title="instagram" aria-label="instagram"
     href="https://instagram.com/calebbreadsticks">
    {% include svg/insta.svg %}
  </a>

  <a class="icon" title="spotify" aria-label="spotify"
     href="https://open.spotify.com/user/caleb.brenden?si=aVUU_vf7QPO87nSxgH8f_g">
    {% include svg/spotify.svg %}
  </a>

  <a class="icon" title="twitter" aria-label="twitter"
     href="https://twitter.com/caleb_brenden">
    {% include svg/twitter.svg %}
  </a>
