<nav id="sidebar-icon-links">
<!--
  <a id="subscribe-link"
    class="icon" title="Subscribe" aria-label="Subscribe"
    href="{{ site.baseurl }}/feed.xml">
    {% include svg/twitter-test.svg %}
  </a> -->

  <a class="icon grow" title="twitter" aria-label="twitter"
    href="https://twitter.com/caleb_brenden">
    {% include svg/twitter-test.svg %}
  </a>

  <a class="icon grow" title="instagram" aria-label="instagram"
    href="https://instagram.com/calebbreadsticks">
    {% include svg/insta.svg %}
  </a>

  {% include custom-icon-links.html %}
</nav>