<div id="sidebar">
  <header>
    {% if page.layout == "home" %}<img src="{{ site.baseurl }}/images/logo.svg" alt="logo"<class="site-title">{% else %}div{% endif %}
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
      </a>
    </{% if page.layout == "home" %}h1{% else %}div{% endif %}>
    <!-- <p class="lead">{{ site.description }}</p> -->
  </header>
  {% include sidebar-nav-links.html %}
  {% include sidebar-icon-links.html %}
 <!--  REMOVED COPYRIGHT.HTML TO PUT IN CUSTOM FOOTER 
 {% include copyright.html %} -->
</div>