<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}

<a class="site-title" title="logo" aria-label="logo" href="https://calebbrenden.co">
  <img src="{{ site.baseurl }}/svg/logo.svg">
</a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <!-- <p class="lead">{{ site.description }}</p> -->
  </header>
  {% include sidebar-nav-links.html %}
  {% include sidebar-icon-links.html %}
 <!--  REMOVED COPYRIGHT.HTML TO PUT IN CUSTOM FOOTER 
 {% include copyright.html %} -->
</div>